* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.layout-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    max-width: 400px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.img1 {
    position: absolute;
    top: 70px;
    left: 450px;
    max-width: 390px;
}

.texto {
    flex: 1;
}