* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        line-height: 1.6;
        padding: 20px;
    }

    .layout-principal {
        max-width: 400px;
        background: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .img1 {
        width: 100%;
        height: 200px;
        background-image: url('img1.jpg');
        background-size: cover;
        background-position: right;
        margin-bottom: 20px;
    }