* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.layout-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    gap: 50px;
    padding: 60px 20px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.texto {
    flex: 1;
}

.img1 img {
    max-width: 450px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    height: auto;
}

.layoutDois {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 60px 0;
}

.t1 {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.container-colunas {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
   
}
.coluna {
    text-align: center;
}
.t2, .t4 {
    font-size: 20px;
   margin-top: 10px;
    font-weight: bold;
}

.t3, .t5 {
    font-size: 16px;
    color: #555;
}



.layout-embaixo {
    border: 1px solid #ccc;
    padding: 40px;
    margin: 40px auto;
    max-width: 1100px;
    background-color: white;
    text-align: center;
}

.imagens-layout {
    gap: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    
}

.layout-reserva {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    border: 1px solid #272525;
    padding: 40px;
    margin: 40px auto;
    max-width: 1100px;
    background-color: white;
    justify-content: space-between;
}

.botoes-reserva {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.reserva-textos {
    flex: 1;
}


.imagens-layout img {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
};




