* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.layout-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 60px 20px;
    padding: 100%px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.img1 img {
    max-width: 450px;
    height: auto;
}

.texto {
    flex: 1;
}

.layoutDois {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 0;
}

.t1 {
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: bold;
}

.t2, .t4 {
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: bold;
}

.t3, .t5 {
    font-size: 18px;
    color: #555;
}

.container-colunas {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
    margin-top: 30px;
}

.coluna {
    text-align: center;
}




