@import url('https://fonts.googleapis.com/css2?family=Anton&family=Average+Sans&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1 {
    text-align: center;
    padding: 20px 0;
    background-color: lightgreen;
    width: 100%;
}

.txt1 {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.txt2 {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.txt3 {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.p1 {
    text-align: center;
}

.p2 {
    text-align: center;
}

.p3 {
    text-align: center;
}

h2 {
    font-family: 'Anton', sans-serif;
    color: #333;
}

p {
    font-family: 'Noto Sans', sans-serif;
    color: #555;
}

label {
    font-family: 'Noto Sans', sans-serif;
    color: #333;
}

select,
input {
    font-family: 'Noto Sans', sans-serif;
    color: #333;
}

button {
    font-family: 'Noto Sans', sans-serif;
    color: #333;
}

a {
    font-family: 'Noto Sans', sans-serif;
    color: #333;
    text-decoration: none;
}

.container-textos section {
    flex: 1;
    padding: 30px;
    background-color: lightgreen;
    border-radius: 60px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
}

.container-textos {
    padding: 0 20px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.imagem-lateral1 {
    flex: 0 0 120px;
    height: 500px;
    width: 500px;
    background-image: url('imgtexto1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.container-textos2 {
    gap: 20px;
    margin-top: 30px;
    border-radius: 100px;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.ilustracao-home {
    width: 100%;
    height: 300px;
    background-image: url('imghome.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 30px;
}

.rodape-social {
    width: 100%;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    padding: 5px 20px;
    border-radius: 50px;
}

.icone-social1,
.icone-social2,
.icone-social3,
.icone-social4 {
    width: 60px;
    height: 60px;
    background-color: gainsboro;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%;
}

.icone-social1 {
    background-image: url('instagram.png');
}

.icone-social2 {
    background-image: url('facebook.png');
}

.icone-social3 {
    background-image: url('youtube.png');
}

.icone-social4 {
    background-image: url('tiktok.png');
}

.imagem-lateral2 {
    flex: 0 0 120px;
    width: 150px;
    height: 150px;
    background-image: url('imgtexto2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.imagem-lateral3 {
    flex: 0 0 120px;
    height: 150px;
    width: 150px;
    background-image: url('imgtexto3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.bloco-textos1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bloco-textos2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.conteudo {
    flex: 1;
}

.layout-principal {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
}

.atalhos {
    width: 120px;
    min-height: 100vh;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

.conteudo-site {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    justify-content: space-between;
    min-height: 100%;
}