.caixa-pix,
.caixa-cartao {
    width: 300px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #f0f0f0;
    display: none; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px; 
}

.caixa-cartao {
    background-color: #e0e0e0;
}

.caixa-pix.ativa,
.caixa-cartao.ativa {
    display: flex; 
}

#iconeBandeira {
    width: 50px;       /* Ajuste a largura como preferir */
    height: auto;      /* Mantém a proporção da imagem */
    margin: 10px 0;    /* Dá um espaço em cima e embaixo */
    display: none;     /* Ele começa escondido até o JS ativar */
}

