.caixa-pix, .caixa-cartao {
    width: 300px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #f0f0f0;
    display: flex; 
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.caixa-cartao {
    background-color: #e0e0e0;
}

.caixa-pix.ativa, .caixa-cartao.ativa {
    visibility: visible;
}